In [1]:
import pandas as pd
import numpy as np
import sklearn.metrics as m

In [2]:
df1 = pd.read_excel(r'C:\jintu\TAR LSTM Work\ID1\ID1 all.xlsx')
df2 = pd.read_excel(r'C:\jintu\TAR LSTM Work\ID2\ID2 all.xlsx')
df3 = pd.read_excel(r'C:\jintu\TAR LSTM Work\MY1\MY1 all.xlsx')
df4 = pd.read_excel(r'C:\jintu\TAR LSTM Work\MY3\MY3 all.xlsx')
df5 = pd.read_excel(r'C:\jintu\TAR LSTM Work\PH2\PH2 all.xlsx')
df6 = pd.read_excel(r'C:\jintu\TAR LSTM Work\PH3\PH3 all.xlsx')

In [3]:
df1.head()

,Datetime,Actual NO2,Actual O3,Actual CO,Actual SO2,Actual PM2.5,Actual PM10,NO2 RNN,O3 RNN,CO RNN,...,CO XGB,SO2 XGB,PM2.5 XGB,PM10 XGB,NO2 LGB,O3 LGB,CO LGB,SO2 LGB,PM2.5 LGB,PM10 LGB
0,2023-01-01 00:00:00,31.203008,24.979219,512.116136,0.669100,99.766667,108.177778,31.042910,27.449826,789.482333,...,777.337097,2.226492,102.901703,111.541817,31.891676,22.827949,763.700564,2.108244,132.952506,138.072219
1,2023-01-01 01:00:00,26.629073,27.223608,435.566723,0.405515,70.533333,80.738889,26.029393,26.624170,502.271365,...,455.356934,2.548525,178.609695,203.497284,29.087343,23.206310,568.306647,1.711173,110.486615,120.482593
2,2023-01-01 02:00:00,25.250627,23.372125,501.842546,0.263585,69.038889,79.950000,21.652967,25.206751,349.029200,...,454.557343,2.644326,128.483032,174.345657,25.262087,25.025255,371.577980,1.435328,102.289757,126.764480
3,2023-01-01 03:00:00,23.370927,26.932668,180.541597,0.081103,48.212291,59.750000,19.882120,26.641165,268.205902,...,246.370453,1.175183,134.611969,103.696442,25.564851,25.176816,385.584005,0.872622,120.363773,141.962892
4,2023-01-01 04:00:00,21.553885,28.650596,127.275265,0.000000,50.638889,63.400000,20.977893,29.715383,288.852328,...,188.416962,0.730079,131.569336,182.816406,22.222895,26.957341,421.727131,0.624374,119.271271,148.247243

In [4]:
df1.columns

Index(['Datetime', 'Actual NO2', 'Actual O3', 'Actual CO', 'Actual SO2',
       'Actual PM2.5', 'Actual PM10', 'NO2 RNN', 'O3 RNN', 'CO RNN', 'SO2 RNN',
       'PM2.5 RNN', 'PM10 RNN', 'NO2 LSTM', 'O3 LSTM', 'CO LSTM', 'SO2 LSTM',
       'PM2.5 LSTM', 'PM10 LSTM', 'NO2 GRU', 'O3 GRU', 'CO GRU', 'SO2 GRU',
       'PM2.5 GRU', 'PM10 GRU', 'NO2 RF', 'O3 RF', 'CO RF', 'SO2 RF',
       'PM2.5 RF', 'PM10 RF', 'NO2 XGB', 'O3 XGB', 'CO XGB', 'SO2 XGB',
       'PM2.5 XGB', 'PM10 XGB', 'NO2 LGB', 'O3 LGB', 'CO LGB', 'SO2 LGB',
       'PM2.5 LGB', 'PM10 LGB'],
      dtype='object')

In [14]:
print(m.r2_score(df1['Actual NO2'], df1['NO2 RF']))
print(m.r2_score(df1['Actual NO2'], df1['NO2 XGB']))
print(m.r2_score(df1['Actual NO2'], df1['NO2 LGB']))
print(m.r2_score(df1['Actual NO2'], df1['NO2 RNN']))
print(m.r2_score(df1['Actual NO2'], df1['NO2 GRU']))
print(m.r2_score(df1['Actual NO2'], df1['NO2 LSTM']))

0.4755630592099811
0.5181326057571911
0.46109563681469057
0.6140343563173307
-0.0830448221173663
0.09961047112290844

In [15]:
print(m.r2_score(df1['Actual O3'], df1['O3 RF']))
print(m.r2_score(df1['Actual O3'], df1['O3 XGB']))
print(m.r2_score(df1['Actual O3'], df1['O3 LGB']))
print(m.r2_score(df1['Actual O3'], df1['O3 RNN']))
print(m.r2_score(df1['Actual O3'], df1['O3 GRU']))
print(m.r2_score(df1['Actual O3'], df1['O3 LSTM']))

0.021159847327069214
-0.012704487745301973
0.14810567033934274
-0.3192101579962927
0.11187996710634684
-0.42155991516992253

In [16]:
print(m.r2_score(df1['Actual CO'], df1['CO RF']))
print(m.r2_score(df1['Actual CO'], df1['CO XGB']))
print(m.r2_score(df1['Actual CO'], df1['CO LGB']))
print(m.r2_score(df1['Actual CO'], df1['CO RNN']))
print(m.r2_score(df1['Actual CO'], df1['CO GRU']))
print(m.r2_score(df1['Actual CO'], df1['CO LSTM']))

0.28753032081334673
0.27784887854861284
0.2662206733299529
0.41817349744935917
-0.21725757808538848
0.12295169161882502

In [17]:
print(m.r2_score(df1['Actual SO2'], df1['SO2 RF']))
print(m.r2_score(df1['Actual SO2'], df1['SO2 XGB']))
print(m.r2_score(df1['Actual SO2'], df1['SO2 LGB']))
print(m.r2_score(df1['Actual SO2'], df1['SO2 RNN']))
print(m.r2_score(df1['Actual SO2'], df1['SO2 GRU']))
print(m.r2_score(df1['Actual SO2'], df1['SO2 LSTM']))

-0.10023565832487202
-1.4617196846543283
-0.8968236038126884
-3.1395102294235757
-2.6242655415684077
-2.0742266406054095

In [18]:
print(m.r2_score(df1['Actual PM2.5'], df1['PM2.5 RF']))
print(m.r2_score(df1['Actual PM2.5'], df1['PM2.5 XGB']))
print(m.r2_score(df1['Actual PM2.5'], df1['PM2.5 LGB']))
print(m.r2_score(df1['Actual PM2.5'], df1['PM2.5 RNN']))
print(m.r2_score(df1['Actual PM2.5'], df1['PM2.5 GRU']))
print(m.r2_score(df1['Actual PM2.5'], df1['PM2.5 LSTM']))

-0.14952830885759338
-0.709700349867209
-1.828989075139626
-0.26080726039548896
-0.17180777759401966
-1.0695884344003455

In [19]:
print(m.r2_score(df1['Actual PM10'], df1['PM10 RF']))
print(m.r2_score(df1['Actual PM10'], df1['PM10 XGB']))
print(m.r2_score(df1['Actual PM10'], df1['PM10 LGB']))
print(m.r2_score(df1['Actual PM10'], df1['PM10 RNN']))
print(m.r2_score(df1['Actual PM10'], df1['PM10 GRU']))
print(m.r2_score(df1['Actual PM10'], df1['PM10 LSTM']))

-0.17415026570530778
-0.6837835090924644
-2.3093470432451535
-0.31711534033684474
-0.17118085758654122
-1.0732259496261989